<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Medino</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="static/images/logo/favicon.png" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="static/css/animate-3.7.0.css">
    <link rel="stylesheet" href="static/css/font-awesome-4.7.0.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="static/css/owl-carousel.min.css">
    <link rel="stylesheet" href="static/css/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="static/css/linearicons.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->
    <!-- Header Area Starts -->
    <header class="header-area">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 d-md-flex">
                        <h6 class="mr-3"><span class="mr-2"><i class="fa fa-mobile"></i></span> call us now! +1 305 708 2563</h6>
                        <h6 class="mr-3"><span class="mr-2"><i class="fa fa-envelope-o"></i></span> medical@medicare.com</h6>
                        <h6><span class="mr-2"><i class="fa fa-map-marker"></i></span> Find our Location</h6>
                    </div>
                    <div class="col-lg-3">
                        <div class="social-links">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="header" id="home">
            <div class="container">
                <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="index"><img src="static/images/logo/logo.png" alt="" title="" /></a>
                </div>
              </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <div id="bg">
       <center> </center>
      <br><br><br><br><br><br>



        <div id="form">
            <form method="POST" action="">
                {% csrf_token %}
                <table id="table">
                    <!------------------------doctr name------------>
                    <tr>
                        <td>DOCTOR NAME:</td>
                        <td>
                            <input type="text" name="doctorname" size="30" id="doctorname"
                            maxlength="30" placeholder="Enter first name" />
                          <!---  (max 30 characters A-Z and a-z)-->
                        </td>

               <!-------------------speciality----------->

 <tr>
                        <td>SPECIALIZATION:</td>
                        <td>
                            <select id="speciality" name="speciality">
                               <option value="select" >Select</option>
                                 <option value="ENT" >ENT</option>
                                <option value="Gynecology" >Gynecology</option>

                                <option value="ENT" >ENT</option>

                            </select>
                        </td>




                    <!----------age------------------------------->

                        <tr>
                        <td>AGE:</td>
                        <td>
                            <input type="text" name="age" size="30" id="age"
                            maxlength="30" placeholder="Enter your age" />
                          <!---  (max 30 characters A-Z and a-z)-->
                        </td>
                    </tr>


<!------------email----------------->
                    <tr>
                        <td>EMAIL ID:
                            </td>
                        <td><input id="Email" type="mail" name="Email" size="30" maxlength="100" />
                        </td>
                    </tr>

<!-----------address------>
                    <tr><td>ADDRESS:</td>
                    <td><textarea rows="4" cols="40" id="comments" name="address">
                    </textarea>
                    </td></tr>
                    <!----------------gender---->
                    <tr>
                        <td>GENDER:</td>
                        <td><input id="female" type="radio" name="gender"
                            value="f">
                            <label for="female">Female</label>
                            <input id="male" type="radio" name="gender"
                            value="m">
                            <label for="male">Male</label>
                            </td>
                    </tr>
                   <!-- <tr>
                        <td>CITY:</td>
                        <td>
                            <input type="text" name="city" size="30"
                            maxlength="30" placeholder="Enter your city name" /></td>


                    </tr>
                    <tr>

                    <td>PIN CODE:</td>
                        <td>
                            <input type="text" name="pin" size="30"
                            maxlength="30" placeholder="Enter pin code" />

                        </td>
                    </tr>-->
<!----------contact----->

                    <tr>
                        <td>
                            MOBILE NO:

                        </td>
                        <td><input type="tel" id ="contact" name="contact" size="30" maxlength="12" placeholder="Enter Mobile no"/>


                        </td>

                    </tr>



<!----qualification---------->

                    <tr>
                        <td>
                            QUALIFICATION

                        </td>
                        <td><input type="text" id ="qualification" name="qualification" size="30" maxlength="12"/>


                        </td>

                    </tr>


    <!---- days----------------->
                    <tr>
                        <td>
                            DAYS

                        </td>
                        <td><input type="text" id ="contact" name="days" size="30" maxlength="12"/>
                        </td>


                    </tr>

                      <tr>
                        <td>
                            VISIT TIME

                        </td>
                        <td><input type="text" id ="time" name="time" size="30" maxlength="12"/>
                        </td>
                      </tr>





                    <tr>
                        <td>USERNAME:</td>
                        <td>
                            <input type="text" name="username" size="30" id="username"
                            maxlength="30" placeholder="Enter first name" />
                          <!---  (max 30 characters A-Z and a-z)-->
                        </td>
                        <tr><tr>
                        <td>PASSWORD:</td>
                        <td>
                            <input type="password" name="password" size="30" id="password"
                            maxlength="30"  />
                          <!---  (max 30 characters A-Z and a-z)-->
                        </td>
                        <tr><tr>
                        <td>CONFIRM PASSWORD:</td>
                        <td>
                            <input type="password" name="password1" size="30" id="password1"
                            maxlength="30"  />
                          <!---  (max 30 characters A-Z and a-z)-->
                        </td>
                        <tr>

                <tr>
                    <td>
                        <br>
                        <button type="submit">Register</button>
                        <!--<button type="reset">Reset</button>-->
                </td>
                </tr>







                </table>
            </form>


        </div>

     </div>
<!-- Javascript -->
    <script src="static/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="static/js/vendor/bootstrap-4.1.3.min.js"></script>
    <script src="static/js/vendor/wow.min.js"></script>
    <script src="static/js/vendor/owl-carousel.min.js"></script>
    <script src="static/js/vendor/jquery.datetimepicker.full.min.js"></script>
    <script src="static/js/vendor/jquery.nice-select.min.js"></script>
    <script src="static/js/vendor/superfish.min.js"></script>
    <script src="static/js/main.js"></script>
</body>
</html>
